*{
  margin: 0;
  padding: 0;
}

#modalBackground{
  position: absolute;
  display: none;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.342);
  z-index: 1;
}

#modal{
  position: relative;
  width: 600px;
  height: 80px;
  margin: 0 auto;
  /* padding-top: 13px; */
  border-radius: 7px;
  background-color: white;
  font-size: 17px;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation: popUp 0.5s;
}

.modalChoice{
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}