*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
img{
  display: block;
}

/* 헤더 시작 */
header{
  position: relative;
  height: 200px;
  margin-top: 20px;
}
.header-holder{
  width: 100%;
  display: flex;
  justify-content: center;
}
.header-container{
  position: relative;
  width: 980px;
  height: 140px;
  display: flex;
  justify-content: space-between;
}

.header-logo{
  width: 310px;
  height: 130px;
  position: relative;
  display: flex;
  cursor: pointer;
}
.header-logo img{
  height: 130px;

}
.header-hr{
  border-top: 1px solid lightgray;
}
.header-logo div{
  position: absolute;
  height: 20px;
  bottom: 38px;
  left: 125px;
  font-weight: bold;
  letter-spacing: 5px;
}

.header-btnContainer{
  width: 380px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  bottom: 35px;
}
.header-quickBtn{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.header-quickBtn img{
  width: 45px;
}

.header-quickBtn div{
  font-size: 13px;
  letter-spacing: -.5px;
}

.header-navContainer{
  align-items: center;
  margin: 0 auto;
  width: 980px;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
.header-menu{
  display: flex;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.header-menu img{
  height: 30px;
}


/* 푸터시작 */
footer {
  width: 100vw;
  height: 200px;
  position: absolute;
  bottom: 0;
  border-top: 0.7px solid #A9AEB1;
}

#footer-footer {
  width: 50%;
  margin: 0 auto;
  font-size: 12px;
}

.footer-bold-first {
  color : #71767A;
  font-weight: bold;
}

.footer-bold-second {
  color: #A9AEB1;
  font-weight: bold;
}
.footer-medium {
  color: #A9AEB1;
  font-weight: 200;
}

#footer-icon {
  display: flex;
  gap: 18px;
}

.fab{
  font-size: 25px;
  cursor: pointer;
}

.fa-brands {
  font-size: 25px;
  cursor: pointer;
}

.fa-regular {
  font-size: 25px;
  cursor: pointer;
}