
*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

img{
  display: block;
}













.findPw-container{
  width: 980px;
 margin:  0 auto;
 overflow: hidden;
 background: #fff;
 padding: 20px;
 border-radius: 8px;
 box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 height: 600px;
} 


.findPw-form {
 margin: 20px 0;
 padding: 15px;
 border: 1px solid #ddd;
 border-radius: 7px;
 text-align: center;
 font-size: 14px;
 margin-bottom: 60px;
}

h2 {
 margin-bottom: 10px;
}

/* label {
 display: block;
 margin: 10px 0 5px;
}

input[type="email"] {
 width: 100%;
 padding: 10px;
 margin-bottom: 10px;
 border: 1px solid #ddd;
 border-radius: 5px;
} */

.findPw-button{
 padding: 10px 15px;
 border: none;
 border-radius: 25px;
 background-color: #37aa8b;
 color: #fff;
 cursor: pointer;
 width: 500px;
 height: 70px;
 font-size: 14px;
 text-align: center;
 margin-left: 240px;
}



/* button {
 padding: 10px 15px;
 border: none;
 border-radius: 7px;
 background-color: #37aa8b;
 color: #fff;
 cursor: pointer;
 width: 500px;
 height: 70px;
 font-size: 14px;
} */

button:hover {
 background-color: #0056b3;
}

p{
 font-size: 10px;
 
}

.findPw-choicebox{
 display: flex;
 margin-left: 20px;
 
}
.findPw-choice{
 border: 0.1px solid darkgray ; 
 padding: 20px;
} 


.findPw-choice a{
list-style-type: none;
text-decoration: none;
color: black;
}

.findPw-page-title{
 color: #37AA8B;
   font-weight: bold;
   font-size: 25px;
   margin-top: 40px;
   margin-left: 30px;
}


.findPw-form{
 margin-top: 100px;
 text-align: center;
}


form p{
 margin-top: 10px;
}



.findPw-input{
  height: 50px;
  width: 450px;
  
}

.findPw-form-one, .findPw-form-two{
  text-align: center;
  margin-top: 30px;
}



