* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

main {
    width: 980px;
    margin: 0 auto;
}

.member-write {
    color: #37AA8B;
    font-weight: bold;
    font-size: 25px;
    margin-top: 40px;
}